        <div id="footer-bar" class="" style="background:#f2f2f2; color:#5b0e9a;">
        
        <a href="dashboard"><i class="font-25 fa fa-home" style="color:#5b0e9a;"></i><span>Home</span></a>
        <a href="contact-us"><i class="font-25 fas fa-headset" style="color:#5b0e9a;"></i><span>Help</span></a>
        <a href="transactions" ><i class="font-25 fa fa-history" style="color:#5b0e9a;"></i><span>Transactions</span></a>
        <a href="profile" ><i class="font-25 fa fa-user" style="color:#5b0e9a;"></i><span>Profile</span></a>